DailyBingChallengeBotDeployment/bingbot2.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "botServices_web_BingBotDev2_endpoint": {
      "defaultValue": null,
      "type": "SecureString"
    },
    "sites_web_BingBotDev2_name": {
      "defaultValue": "web-BingBotDev2",
      "type": "String"
    },
    "connections_azureTables_name": {
      "defaultValue": "azureTables",
      "type": "String"
    },
    "botServices_web_BingBotDev2_name": {
      "defaultValue": "web-BingBotDev2",
      "type": "String"
    },
    "workflows_TriggerDailyBingChallenge_name": {
      "defaultValue": "TriggerDailyBingChallenge",
      "type": "String"
    },
    "storageAccounts_storagebingbotdev2_name": {
      "defaultValue": "storagebingbotdev2",
      "type": "String"
    },
    "serverfarms_appServicePlan_BingBotDev2_name": {
      "defaultValue": "appServicePlan-BingBotDev2",
      "type": "String"
    },
    "components_appInsights_BingBotDev2_name": {
      "defaultValue": "appInsights-BingBotDev2",
      "type": "String"
    },
    "workflows_CheckDailyBingChallengeResults_name": {
      "defaultValue": "CheckDailyBingChallengeResults",
      "type": "String"
    }
  },
  "variables": {},
  "resources": [
    {
      "type": "Microsoft.BotService/botServices",
      "apiVersion": "2018-07-12",
      "name": "[parameters('botServices_web_BingBotDev2_name')]",
      "location": "global",
      "sku": {
        "name": "F0"
      },
      "kind": "sdk",
      "properties": {
        "displayName": "[parameters('botServices_web_BingBotDev2_name')]",
        "iconUrl": "https://docs.botframework.com/static/devportal/client/images/bot-framework-default.png",
        "msaAppId": "54afea21-9697-40b9-b980-a17853b112bb",
        "luisAppIds": [],
        "endpoint": "[parameters('botServices_web_BingBotDev2_endpoint')]"
      }
    },
    {
      "type": "microsoft.insights/components",
      "apiVersion": "2015-05-01",
      "name": "[parameters('components_appInsights_BingBotDev2_name')]",
      "location": "westeurope",
      "kind": "web",
      "properties": {
        "Application_Type": "web",
        "Flow_Type": "Redfield",
        "Request_Source": "IbizaAIExtension"
      }
    },
    {
      "type": "Microsoft.Storage/storageAccounts",
      "apiVersion": "2019-04-01",
      "name": "[parameters('storageAccounts_storagebingbotdev2_name')]",
      "location": "westeurope",
      "sku": {
        "name": "Standard_LRS",
        "tier": "Standard"
      },
      "kind": "StorageV2",
      "properties": {
        "networkAcls": {
          "bypass": "AzureServices",
          "virtualNetworkRules": [],
          "ipRules": [],
          "defaultAction": "Allow"
        },
        "supportsHttpsTrafficOnly": true,
        "encryption": {
          "services": {
            "file": {
              "enabled": true
            },
            "blob": {
              "enabled": true
            }
          },
          "keySource": "Microsoft.Storage"
        },
        "accessTier": "Hot"
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('connections_azureTables_name')]",
      "location": "westeurope",
      "properties": {
        "displayName": "BingBot",
        "customParameterValues": {},
        "api": {
          "id": "/subscriptions/a7d89d81-c45f-42f8-8b42-359d5f5e5386/providers/Microsoft.Web/locations/westeurope/managedApis/azuretables"
        }
      }
    },
    {
      "type": "Microsoft.Web/serverfarms",
      "apiVersion": "2016-09-01",
      "name": "[parameters('serverfarms_appServicePlan_BingBotDev2_name')]",
      "location": "West Europe",
      "sku": {
        "name": "F1",
        "tier": "Free",
        "size": "F1",
        "family": "F",
        "capacity": 0
      },
      "kind": "app",
      "properties": {
        "name": "[parameters('serverfarms_appServicePlan_BingBotDev2_name')]",
        "perSiteScaling": false,
        "reserved": false,
        "targetWorkerCount": 0,
        "targetWorkerSizeId": 0
      }
    },
    {
      "type": "Microsoft.BotService/botServices/channels",
      "apiVersion": "2018-07-12",
      "name": "[concat(parameters('botServices_web_BingBotDev2_name'), '/MsTeamsChannel')]",
      "location": "global",
      "dependsOn": [
        "[resourceId('Microsoft.BotService/botServices', parameters('botServices_web_BingBotDev2_name'))]"
      ],
      "properties": {}
    },
    {
      "type": "Microsoft.BotService/botServices/channels",
      "apiVersion": "2018-07-12",
      "name": "[concat(parameters('botServices_web_BingBotDev2_name'), '/WebChatChannel')]",
      "location": "global",
      "dependsOn": [
        "[resourceId('Microsoft.BotService/botServices', parameters('botServices_web_BingBotDev2_name'))]"
      ],
      "properties": {}
    },
    {
      "type": "Microsoft.BotService/botServices/connections",
      "apiVersion": "2018-07-12",
      "name": "[concat(parameters('botServices_web_BingBotDev2_name'), '/AppInsights')]",
      "location": "global",
      "dependsOn": [
        "[resourceId('Microsoft.BotService/botServices', parameters('botServices_web_BingBotDev2_name'))]"
      ],
      "properties": {
        "serviceProviderDisplayName": "Azure Active Directory v2",
        "serviceProviderId": "30dd229c-58e3-4a48-bdfd-91ec48eb906c"
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('workflows_CheckDailyBingChallengeResults_name')]",
      "location": "westeurope",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('connections_azureTables_name'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "Week",
                "interval": 1,
                "schedule": {
                  "hours": [
                    "15"
                  ],
                  "minutes": [
                    0
                  ],
                  "weekDays": [
                    "Monday",
                    "Tuesday",
                    "Wednesday",
                    "Thursday",
                    "Friday"
                  ]
                }
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "Check_if_result_occured": {
              "actions": {
                "HTTP": {
                  "runAfter": {},
                  "type": "Http",
                  "inputs": {
                    "method": "GET",
                    "uri": "https://BingBotDev2.azurewebsites.net/api/getresults"
                  }
                }
              },
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@body('Parse_JSON')?['photoUrl']",
                        ""
                      ]
                    }
                  }
                ]
              },
              "type": "If"
            },
            "Get_Daily_Bing": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuretables']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/Tables/@{encodeURIComponent('DailyBing')}/entities(PartitionKey='@{encodeURIComponent('DailyBingChallengeBot.Models.DailyBing')}',RowKey='@{encodeURIComponent(formatDateTime(utcNow(),'yyyyMMdd'))}')"
              }
            },
            "Parse_JSON": {
              "runAfter": {
                "Get_Daily_Bing": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Get_Daily_Bing')",
                "schema": {
                  "properties": {
                    "PartitionKey": {
                      "type": "string"
                    },
                    "RowKey": {
                      "type": "string"
                    },
                    "SerializedEntries": {
                      "type": "string"
                    },
                    "Timestamp": {
                      "type": "string"
                    },
                    "distanceToEntry": {
                      "type": "number"
                    },
                    "extractedLocation": {
                      "type": "string"
                    },
                    "latitude": {
                      "type": "number"
                    },
                    "longitude": {
                      "type": "number"
                    },
                    "odata.etag": {
                      "type": "string"
                    },
                    "odata.metadata": {
                      "type": "string"
                    },
                    "photoUrl": {
                      "type": "string"
                    },
                    "publishedTime": {
                      "type": "string"
                    },
                    "publishedTime@odata.type": {
                      "type": "string"
                    },
                    "resultSet": {
                      "type": "boolean"
                    },
                    "serializableCurrentStatus": {
                      "type": "string"
                    },
                    "text": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuretables": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_azureTables_name'))]",
                "connectionName": "azuretables",
                "id": "/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/parameters('resourceLocation')/managedApis/azuretables"
              }
            }
          }
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('workflows_TriggerDailyBingChallenge_name')]",
      "location": "westeurope",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('connections_azureTables_name'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "Week",
                "interval": 1,
                "schedule": {
                  "hours": [
                    "7"
                  ],
                  "minutes": [
                    45
                  ],
                  "weekDays": [
                    "Monday",
                    "Tuesday",
                    "Wednesday",
                    "Thursday",
                    "Friday"
                  ]
                }
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "Get_current_image": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuretables']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/Tables/@{encodeURIComponent('DailyBing')}/entities(PartitionKey='@{encodeURIComponent('DailyBingChallengeBot.Models.DailyBingImage')}',RowKey='@{encodeURIComponent(formatDateTime(utcNow(),'yyyyMMdd'))}')"
              }
            },
            "HTTP": {
              "runAfter": {
                "Get_current_image": [
                  "Failed"
                ]
              },
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "https://BingBotDev2.azurewebsites.net/api/triggerchallenge"
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuretables": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_azureTables_name'))]",
                "connectionName": "azuretables",
                "id": "/subscriptions/a7d89d81-c45f-42f8-8b42-359d5f5e5386/providers/Microsoft.Web/locations/westeurope/managedApis/azuretables"
              }
            }
          }
        }
      }
    },
    {
      "type": "Microsoft.Storage/storageAccounts/blobServices",
      "apiVersion": "2019-04-01",
      "name": "[concat(parameters('storageAccounts_storagebingbotdev2_name'), '/default')]",
      "dependsOn": [
        "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_storagebingbotdev2_name'))]"
      ],
      "properties": {
        "cors": {
          "corsRules": []
        },
        "deleteRetentionPolicy": {
          "enabled": false
        }
      }
    },
    {
      "type": "Microsoft.Web/sites",
      "apiVersion": "2016-08-01",
      "name": "[parameters('sites_web_BingBotDev2_name')]",
      "location": "West Europe",
      "dependsOn": [
        "[resourceId('Microsoft.Web/serverfarms', parameters('serverfarms_appServicePlan_BingBotDev2_name'))]"
      ],
      "kind": "app",
      "properties": {
        "enabled": true,
        "hostNameSslStates": [
          {
            "name": "web-bingbotdev2.azurewebsites.net",
            "sslState": "Disabled",
            "hostType": "Standard"
          },
          {
            "name": "web-bingbotdev2.scm.azurewebsites.net",
            "sslState": "Disabled",
            "hostType": "Repository"
          }
        ],
        "serverFarmId": "[resourceId('Microsoft.Web/serverfarms', parameters('serverfarms_appServicePlan_BingBotDev2_name'))]",
        "reserved": false,
        "scmSiteAlsoStopped": false,
        "clientAffinityEnabled": true,
        "clientCertEnabled": false,
        "hostNamesDisabled": false,
        "containerSize": 0,
        "dailyMemoryTimeQuota": 0,
        "httpsOnly": false
      }
    },
    {
      "type": "Microsoft.Web/sites/config",
      "apiVersion": "2016-08-01",
      "name": "[concat(parameters('sites_web_BingBotDev2_name'), '/web')]",
      "location": "West Europe",
      "dependsOn": [
        "[resourceId('Microsoft.Web/sites', parameters('sites_web_BingBotDev2_name'))]"
      ],
      "properties": {
        "numberOfWorkers": 1,
        "defaultDocuments": [
          "Default.htm",
          "Default.html",
          "Default.asp",
          "index.htm",
          "index.html",
          "iisstart.htm",
          "default.aspx",
          "index.php",
          "hostingstart.html"
        ],
        "netFrameworkVersion": "v4.0",
        "phpVersion": "5.6",
        "pythonVersion": "",
        "nodeVersion": "",
        "linuxFxVersion": "",
        "requestTracingEnabled": false,
        "remoteDebuggingEnabled": false,
        "remoteDebuggingVersion": "VS2017",
        "httpLoggingEnabled": true,
        "logsDirectorySizeLimit": 35,
        "detailedErrorLoggingEnabled": true,
        "publishingUsername": "$web-BingBotDev2",
        "scmType": "None",
        "use32BitWorkerProcess": true,
        "webSocketsEnabled": false,
        "alwaysOn": false,
        "appCommandLine": "",
        "managedPipelineMode": "Integrated",
        "virtualApplications": [
          {
            "virtualPath": "/",
            "physicalPath": "site\\wwwroot",
            "preloadEnabled": false,
            "virtualDirectories": null
          }
        ],
        "winAuthAdminState": 0,
        "winAuthTenantState": 0,
        "customAppPoolIdentityAdminState": false,
        "customAppPoolIdentityTenantState": false,
        "loadBalancing": "LeastRequests",
        "routingRules": [],
        "experiments": {
          "rampUpRules": []
        },
        "autoHealEnabled": false,
        "vnetName": "",
        "siteAuthEnabled": false,
        "siteAuthSettings": {
          "enabled": null,
          "unauthenticatedClientAction": null,
          "tokenStoreEnabled": null,
          "allowedExternalRedirectUrls": null,
          "defaultProvider": null,
          "clientId": null,
          "clientSecret": null,
          "clientSecretCertificateThumbprint": null,
          "issuer": null,
          "allowedAudiences": null,
          "additionalLoginParams": null,
          "isAadAutoProvisioned": false,
          "googleClientId": null,
          "googleClientSecret": null,
          "googleOAuthScopes": null,
          "facebookAppId": null,
          "facebookAppSecret": null,
          "facebookOAuthScopes": null,
          "twitterConsumerKey": null,
          "twitterConsumerSecret": null,
          "microsoftAccountClientId": null,
          "microsoftAccountClientSecret": null,
          "microsoftAccountOAuthScopes": null
        },
        "cors": {
          "allowedOrigins": [
            "https://botservice.hosting.portal.azure.net",
            "https://botservice-ms.hosting.portal.azure.net",
            "https://hosting.onecloud.azure-test.net/"
          ],
          "supportCredentials": false
        },
        "localMySqlEnabled": false,
        "http20Enabled": false,
        "minTlsVersion": "1.2",
        "ftpsState": "AllAllowed",
        "reservedInstanceCount": 0,
        "fileChangeAuditEnabled": false
      }
    },
    {
      "type": "Microsoft.Web/sites/hostNameBindings",
      "apiVersion": "2016-08-01",
      "name": "[concat(parameters('sites_web_BingBotDev2_name'), '/', parameters('sites_web_BingBotDev2_name'), '.azurewebsites.net')]",
      "location": "West Europe",
      "dependsOn": [
        "[resourceId('Microsoft.Web/sites', parameters('sites_web_BingBotDev2_name'))]"
      ],
      "properties": {
        "siteName": "web-BingBotDev2",
        "hostNameType": "Verified"
      }
    },
    {
      "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
      "apiVersion": "2019-04-01",
      "name": "[concat(parameters('storageAccounts_storagebingbotdev2_name'), '/default/dailybing')]",
      "dependsOn": [
        "[resourceId('Microsoft.Storage/storageAccounts/blobServices', parameters('storageAccounts_storagebingbotdev2_name'), 'default')]",
        "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_storagebingbotdev2_name'))]"
      ],
      "properties": {
        "publicAccess": "None"
      }
    },
    {
      "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
      "apiVersion": "2019-04-01",
      "name": "[concat(parameters('storageAccounts_storagebingbotdev2_name'), '/default/dailybingdev')]",
      "dependsOn": [
        "[resourceId('Microsoft.Storage/storageAccounts/blobServices', parameters('storageAccounts_storagebingbotdev2_name'), 'default')]",
        "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_storagebingbotdev2_name'))]"
      ],
      "properties": {
        "publicAccess": "None"
      }
    },
    {
      "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
      "apiVersion": "2019-04-01",
      "name": "[concat(parameters('storageAccounts_storagebingbotdev2_name'), '/default/dailybinglogs')]",
      "dependsOn": [
        "[resourceId('Microsoft.Storage/storageAccounts/blobServices', parameters('storageAccounts_storagebingbotdev2_name'), 'default')]",
        "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_storagebingbotdev2_name'))]"
      ],
      "properties": {
        "publicAccess": "None"
      }
    },
    {
      "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
      "apiVersion": "2019-04-01",
      "name": "[concat(parameters('storageAccounts_storagebingbotdev2_name'), '/default/', parameters('storageAccounts_storagebingbotdev2_name'))]",
      "dependsOn": [
        "[resourceId('Microsoft.Storage/storageAccounts/blobServices', parameters('storageAccounts_storagebingbotdev2_name'), 'default')]",
        "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_storagebingbotdev2_name'))]"
      ],
      "properties": {
        "publicAccess": "None"
      }
    }
  ]
}